/* Not Modularized code .  Refracting should be done along the way */

body{
    font-family: "Montserrat";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat-Bold";
}

/* h2 {
  font-size : 3rem;
  line-height: 1.5;
}

h3 {
  font-size : 1.5rem;
  font-weight: bolder;
} */

p{
  color: #8f8f8f;
}

.container-fluid {
  padding : 3% 15% 7%;

}


/* headings */

.big-heading{
font-family: 'Montserrat-black', sans-serif;
font-size : 3.5rem;
line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  /* line-height: 1.5rem; */
}
#title {
  background-color : #ff4c68;
  font-family: 'Ubuntu', sans-serif;
  color : #fff;
  /* position : relative;
  z-index :-1; */
}


/* Navigation Bar */

.navbar{
    padding-bottom : 4.5rem;
}
.navbar-brand{
  font-family : "Ubuntu";
  font-size : 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding :0 18px;

}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */

.download-button{
  margin : 5% 3% 5% 0;
}


/* title image */
/* Z index flow chart v v imp
i changed stacking order without using z-index */
.title-image{
  width : 60%;
  transform: rotate(25deg);
  position : absolute;
  /* z index : -1; */
  right: 30%;

}

.title-image-container{
  position: relative;
}

 @media (max-width : 1028px){
   .title-image{
     position:static;
     transform: rotate(0);
   }
   #title {
     text-align : center;
   }
 }

/* features */
/*can't use absolute as it takes element out of the html flow */
#features {
  padding : 7% 15%;
  background-color: #ffffff;
  position: relative;
  /* z-index : 1; */
}

.feature-box {
  text-align: center;
  padding: 5%;
}
.feature-title{
  font-size: 1.5rem;
}
/* icons */

.icon{
  color: #ef8172;
  margin-bottom : 1rem;
}

.icon:hover {
  color : #ff4c78 ;
}


/* testimonials */

#testimonials{

  text-align :center;
  background-color: #ef8172;
  color : #ffffff;
}

.testimonial-text{
  font-size: 3rem;
  /* line-height: 1.5rem; */
}
.testimonial-image {
  width : 10%;
  border-radius: 100%;
  margin : 20px;
}

.carousel-item{
    padding : 7% 15%;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3%;
}

.press-logo{
  width: 15%;
  margin : 20px 20px 50px;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding:3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
/* cta */

#cta{
  background-color: #ff4c68;
  color : #ffffff;
  padding : 7% 15%;
  text-align: center;
}

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */

#footer {
  padding : 7% 15%;
  text-align : center;
}

.social-icon {
  margin : 20px 10px;
}
